html,body{
  margin:0px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #EDF6F9;
}

div.header{
  width: 100vw;
  height: 12vw;
  background-color: #006D77;
  font-family: 'Ubuntu', sans-serif;
}

div.header > img{
  width: 13vw;
  float: left;
  padding: 0px;
  margin: 0px;
}

div.header > h1{
  float: left;
  margin: 0px;
  padding-top: 3vw;
  font-size: 5vw;
}

h1{
  font-size: 6vw;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
p{
    font-family: 'Ubuntu', sans-serif;
  font-size: 2.3vw;
}
kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }
h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 4vw;
  text-align: center;
}
h3{
   font-family: 'Ubuntu', sans-serif;
  font-size: 3vw;
}
code {
  background-color: #eee;
  border: 1px solid #999;
  display: inline;
  padding: 0px;
}