html, body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
}

div.header{
  float: left;
  width: 100vw;
  height: 10vw;
  background-color: #006D77;
}

#mainC{
  float: left;
}
button.run_btn{
  float: left;
}
ol.list{
  float: right;
  
}


